<div class="auth-wrapper">

  <!-- LEFT SIDE -->
  <div class="auth-left">

    <div class="auth-bg">
      <div class="auth-grid"></div>
      <div class="auth-blob"></div>
    </div>

    <div class="auth-left-content">

      <!-- LOGO -->
      <div class="auth-logo">

        <span class="logo-icon">
          LOGO
        </span>

        <span class="logo-text">
          Match<span class="logo-accent">Up</span>
        </span>

      </div>

      <!-- LEFT CONTENT -->
      <div class="auth-left-body">

        <h1>
          Your Sport,<br>
          Your People.
        </h1>

        <p>
          Create an account and start finding events
          that match your passion and skill level.
        </p>

        <!-- FEATURES -->
        <div class="register-features">

          <div class="register-feature">

            <span class="feat-icon">
              🎯
            </span>

            <div>
              <strong>
                Filter by sport & location
              </strong>

              <span>
                Find events right in your neighborhood
              </span>
            </div>

          </div>

          <div class="register-feature">

            <span class="feat-icon">
              ⚡
            </span>

            <div>
              <strong>
                One-tap participation
              </strong>

              <span>
                Join or create events in seconds
              </span>
            </div>

          </div>

          <div class="register-feature">

            <span class="feat-icon">
              ⭐
            </span>

            <div>
              <strong>
                Community ratings
              </strong>

              <span>
                Know who you're playing with
              </span>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- RIGHT SIDE -->
  <div class="auth-right">

    <div class="auth-form-wrapper">

      <!-- HEADER -->
      <div class="auth-form-header">

        <h2>
          Create Account
        </h2>

        <p>
          Already have an account?

          <a routerLink="/login" class="auth-link">
            Sign in
          </a>
        </p>

      </div>

      <!-- ERROR -->
       @if (isSomethingWrongErrorMessage()) {
        <div class="alert alert-error">
          Something went wrong.
        </div>
       }
     

      <!-- FORM -->
      <form class="auth-form" novalidate [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <!-- EMAIL -->
        <div class="form-group">

          <label for="email">
            Email Address
          </label>

          <div class="input-wrapper">

            <span class="input-icon material-icons">
            mail
            </span>


            <input
              id="email"
              type="email"
              class="form-control"
              placeholder="you@example.com"
              formControlName = "email"
            />

          </div>
          
          @if (!isEmailAdressValid()) {
            <span class="form-error">
            Please enter a valid email address.
          </span>
          }
          

        </div>

        <!-- PASSWORD -->
        <div class="form-group">

          <label for="password">
            Password
          </label>

          <div class="input-wrapper">

           <span class="input-icon material-icons">
              lock
            </span>

            <input
              id="password"
              [type]="isPasswordVisible() ? 'text' : 'password'"
              class="form-control"
              placeholder="••••••••"
              autocomplete="current-password"
              formControlName = "password"
            />

            <button
              type="button"
              class="eye-btn material-icons"
              (click) = "togglePasswordVisible()">

              {{ isPasswordVisible() ? 'visibility' : 'visibility_off' }}
              
            </button>

          </div>


          @if (isPasswordValid()) {
            <span class="form-error">
            Password must be at least 8 characters.
          </span>
          }
          

        </div>

        <!-- TERMS -->
        <label class="terms-check">

          <input type="checkbox" />

          <span>
            I agree to the
            <a href="#">Terms of Service</a>
            and
            <a href="#">Privacy Policy</a>
          </span>

        </label>

        <!-- SUBMIT -->
        <button
          type="submit"
          class="btn btn-primary"
          style="width:100%; justify-content:center;">

          Create Free Account

        </button>

      </form>

    </div>

  </div>

</div>